.vp-doc > div .utils-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;
}

.vp-doc > div .utils-table > table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  display: table;
}

.vp-doc > div .utils-table > table th,
.vp-doc > div .utils-table > table td {
  white-space: nowrap;
  padding: 0.6em 1em;
  text-align: left;
  max-width: 250px;
  white-space: pre-wrap;
}

